{% extends "base.html" %}
{% block content %}
<h1>Find route</h1>


<form action="" method="GET">
    <div class="form-stop">
        <label>Start</label>
        <input type="text" class="form-input" autocomplete="off" name="from"/>
    </div>

    <div class="form-stop">
        <label>End</label>
        <input type="text" class="form-input" autocomplete="off" name="to"/>
    </div>
    <p></p>
    <button type="submit">Find!</button>
</form>
<hr/>
<p>Available stops:<br/>{{stops}}</p>

{% endblock %}
