{% extends "base.html" %}
{% block title %} - Tulokset{% endblock %}
{% block content %}
<h2>Route</h2>
<ul>
    {% for ((u,v), route) in path %}
        <li><em>{{route}}</em>: <strong>{{u}} → {{v}}</strong></li>
    {% endfor %}
</ul>
{% endblock %}
